# OAuth Configuration
LOGIN_URL=your-salesforce-login-url
CLIENT_ID=your-salesforce-connected-app-client-id
CLIENT_SECRET=your-salesforce-connected-app-client-secret
API_VERSION=vXX.X

# Token storage configuration
TOKEN_FILE=access-token.secret